h1 {
    font-size: 100px;
    color: green;
    /*this is to wrap the word around your box*/
    word-wrap: break-word;
}

.box1 {
    background-color: darkgrey;
    width: 20%;
    height: 100%;
    display: inline-block;
    margin-right:-5px;
}

.box1:hover{
    background-color: blue;
    opacity: 0.7;
}

.box2 {
    background-color: darkslategrey;
    width: 20%;
    height: 100%;
    display: inline-block;

}

.box2:hover{
    background-color:yellow;
    opacity: 0.5;
    font-size: 150px;
}

body {
    background-image: url('dog.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 50%;
}

/*background color*/
.nav-bar{
    background-color: green;
}

/*color of the text, size of text*/
.nav-bar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

/*this is used to get rid of those bullets, to make all element within ul to fall inline, be in the same sides/plane */
/*
ul{
    display: inline;
    margin: 0;
    padding: 0;
}
*/
.nav-bar-components{
    display: inline;
    margin: 0;
    padding: 0;
}
/*this turns the li properties to be from going up and down vertical to be side to side, creating the typical nav bar layout*/
/*
ul li{
    display: inline-block;
}


ul li:hover {
    background: #555;
}
*/

/*when you hover this element, the child of these parents will display block */
/*
ul li:hover ul{
    display: block;
}

*/


.dropdown-menu{
    display: inline-block;
}

.dropdown-menu:hover {
    background: #555;
}

/*when you hover this element, the child of these parents will display block */

.dropdown-menu:hover .dropdown-menu-components{
    display: block;
}



/*for some reason this allows all of the highlight to be the whole height of the bar instead of the just the text when you hover
ul li ul {
  display: inline-block;
}
*/

/*
ul li ul{
    position: absolute;
    width: 200px;
    display: none;

}
*/
.dropdown-menu-components{
    position: absolute;
    width: 200px;
    display: none;
}

.dropdown-menu-components li{
    background: #555;
    display: block;
}

.dropdown-menu-components li a {
    display:block !important;
}

.dropdown-menu-components li:hover{
    background: #666;
}

/*
ul li ul li:hover {
  background-color: black;
  opacity: 0.8;
}
*/
