h1 {
    font-size: 100px;
    color: green;
    /*this is to wrap the word around your box*/
    word-wrap: break-word;
}

.box1 {
    background-color: darkgrey;
    width: 20%;
    height: 100%;
    display: inline-block;
    margin-right:-5px;
}

.box1:hover{
    background-color: blue;
    opacity: 0.7;
}

.box2 {
    background-color: darkslategrey;
    width: 20%;
    height: 100%;
    display: inline-block;

}

.box2:hover{
    background-color:yellow;
    opacity: 0.5;
}

body {
    background-image: url('dog.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 50%;
}
